<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../css/gtvg.css" th:href="@{/css/gtvg.css}" />
    <script src="../../js/validation.js" th:src="@{/js/validation.js}"></script>
</head>

<body>

<p>Login form</p>

<form name="loginForm" onsubmit="return validateLogin()" action="login.html" th:action="@{/login}" method="post">
    <fieldset>
        <label>Login</label>
        <input name="login" type="text" id="login">
        <label>Password</label>
        <input name="password" type="text" id="password">
        <input type="submit" value="Login!" />
    </fieldset>
</form>

<p>
    <a href="home.html" th:href="@{/}">Return to home</a>
</p>
</body>
</html>
